Repository ax-vasquez/go-wedding-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

further codecov configuration
  .github/workflows/ci.yml
Due: none

vscode settings.json to support test tags
  .github/workflows/ci.yml
  .vscode/settings.json
  models/entree_unit_test.go
Due: unit

code cleanup
  models/user.go
  models/user_unit_test.go
Due: unit

no longer use TestMain for integration tests - simplify setup (models only so far)
  models/entree_integration_test.go
  models/hors_doeuvres_integration_test.go
  models/models_integration_test.go
  models/test_helpers.go
  models/user_integration_test.go
  models/user_unit_test.go
  models/user_user_invitee_integration_test.go
Due: unit, integration

remove remaining dependence on TestMain; add user unit test
  controllers/controllers_integration_test.go
  controllers/entree_controller_integration_test.go
  controllers/hors_doeuvres_controller_integration_test.go
  controllers/user_controller_integration_test.go
  controllers/user_invitee_controller_integration_test.go
  models/models.go
  models/user_unit_test.go
Due: unit, integration

bring back TestMain to handle potentially-conflicting setup operations in concurrent tests
  .github/workflows/ci.yml
  _docs/resources.md
  controllers/controllers_integration_test.go
  controllers/entree_controller_integration_test.go
  controllers/hors_doeuvres_controller_integration_test.go
  controllers/user_controller_integration_test.go
  controllers/user_invitee_controller_integration_test.go
  coverage1.out
  models/entree_integration_test.go
  models/hors_doeuvres_integration_test.go
  models/models_integration_test.go
  models/user_integration_test.go
  models/user_user_invitee_integration_test.go
Due: integration

unit tests for user model logic
  .vscode/settings.json
  _docs/testing.md
  controllers/controllers_integration_test.go
  controllers/user_controller.go
  models/models.go
  models/test_helpers.go
  models/user.go
  models/user_integration_test.go
  models/user_unit_test.go
Due: unit, integration

fix for update user
  .vscode/settings.json
  models/user.go
Due: none

remove logging from db operation - logging is handled upstream using returned error (if any)
  models/user.go
Due: none

skip test_helpers.go in codecov
  codecov.yml
Due: none

WIP - uncovered false positive test cases - fixing
  .vscode/settings.json
  controllers/user_invitee_controller.go
  models/models.go
  models/user.go
  models/user_integration_test.go
  models/user_unit_test.go
  models/user_user_invitee.go
  models/user_user_invitee_integration_test.go
  models/user_user_invitee_unit_test.go
Due: unit, integration

fix unit tests for user
  models/user.go
  models/user_unit_test.go
Due: unit

WIP - tests pass in isolation, but fail when run as a whole
  models/user_unit_test.go
Due: unit

correction
  models/user_unit_test.go
Due: unit

fix for failing test (single-runs only - still fails when whole spec runs)
  models/user_unit_test.go
Due: unit

call db Setup() separately for each test - sharing mock object leads to conflicts
  models/user_unit_test.go
Due: unit

unit tests for UserUserInvitee
  controllers/user_invitee_controller.go
  models/user_user_invitee.go
  models/user_user_invitee_unit_test.go
Due: unit

testing CI changes
  .github/workflows/ci.yml
Due: none

update integration tests for UserUserInvitee
  models/user_user_invitee_integration_test.go
Due: integration

unit tests for HorsDoeuvres model
  .github/workflows/ci.yml
  .gitignore
  codecov.yml
  controllers/hors_doeuvres_controller.go
  models/entree_integration_test.go
  models/hors_doeuvres.go
  models/hors_doeuvres_integration_test.go
  models/hors_doeuvres_unit_test.go
  models/test_helpers.go
  models/user_integration_test.go
  models/user_unit_test.go
  models/user_user_invitee_integration_test.go
Due: unit, integration

integration test fix
  .vscode/settings.json
  models/hors_doeuvres_integration_test.go
Due: integration

remove inadvertently-committed report file
  .vscode/settings.json
  coverage1.out
Due: none

unit tests for Entrees model
  controllers/entree_controller.go
  models/entree.go
  models/entree_unit_test.go
  models/test_helpers.go
Due: unit

integration test fix
  models/entree_integration_test.go
Due: integration

formatting; unit tests for entree controller
  codecov.yml
  controllers/entree_controller.go
  controllers/entree_controller_integration_test.go
  controllers/entree_controller_unit_test.go
  controllers/hors_doeuvres_controller_integration_test.go
  controllers/user_controller_integration_test.go
  controllers/user_invitee_controller_integration_test.go
  models/entree_unit_test.go
  models/hors_doeuvres_unit_test.go
  models/test_helpers.go
  models/user_unit_test.go
  models/user_user_invitee_unit_test.go
  test/mocks.go
Due: unit, integration

unit tests for hors doeuvres controller
  controllers/hors_doeuvres_controller.go
  controllers/hors_doeuvres_controller_unit_test.go
Due: unit

update codecov config
  codecov.yml
Due: none

unit tests for user controller and missing unit test coverage
  controllers/user_controller.go
  controllers/user_controller_integration_test.go
  controllers/user_controller_unit_test.go
  models/user.go
  models/user_unit_test.go
Due: unit, integration

integration test fix
  models/user_integration_test.go
Due: integration

user invitee unit tests
  controllers/entree_controller_integration_test.go
  controllers/hors_doeuvres_controller_integration_test.go
  controllers/user_controller_integration_test.go
  controllers/user_invitee_controller.go
  controllers/user_invitee_controller_integration_test.go
  controllers/user_invitee_controller_unit_test.go
  models/entree_integration_test.go
  models/hors_doeuvres_integration_test.go
Due: unit, integration

exclude controllers.go from codecov report as it's mostly a config file
  codecov.yml
Due: none

add missing test coverage
  .vscode/settings.json
  controllers/user_invitee_controller.go
  controllers/user_invitee_controller_integration_test.go
Due: integration

unit test for missing coverage
  controllers/entree_controller_integration_test.go
Due: integration

coverage for remaining missing areas
  controllers/hors_doeuvres_controller_integration_test.go
  controllers/user_controller_integration_test.go
Due: integration

show codecov badge in readme
  README.md
Due: none

tune coverage req to 90% - remaining lines aren't counted as coverable
  codecov.yml
Due: none

add gin-swagger - some light docs for entrees routes - more to go
  README.md
  controllers/controllers.go
  controllers/entree_controller.go
  controllers/hors_doeuvres_controller.go
  controllers/user_controller.go
  controllers/user_invitee_controller.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  go.mod
  go.sum
Due: none

update readme docs
  README.md
Due: none

docs for entree and hors doeuvres controllers
  controllers/entree_controller.go
  controllers/hors_doeuvres_controller.go
  controllers/hors_doeuvres_controller_integration_test.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
Due: integration

Path conditions:
  unit: any of: **/*_unit_test.go, but not: test-fixtures, *_test.go, *.sh
  integration: any of: **/*_integration_test.go, but not: test-fixtures, *_test.go, *.sh
