Repository ax-vasquez/go-wedding-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

separate API types to new type package (for reuse in middlewares and tests)
  .vscode/settings.json
  controllers/auth_controller.go
  controllers/auth_controller_integration_test.go
  controllers/controllers.go
  controllers/controllers_integration_test.go
  controllers/entree_controller.go
  controllers/entree_controller_integration_test.go
  controllers/entree_controller_unit_test.go
  controllers/hors_doeuvres_controller.go
  controllers/hors_doeuvres_controller_integration_test.go
  controllers/hors_doeuvres_controller_unit_test.go
  controllers/user_controller.go
  controllers/user_controller_integration_test.go
  controllers/user_controller_unit_test.go
  controllers/user_invitee_controller.go
  controllers/user_invitee_controller_integration_test.go
  controllers/user_invitee_controller_unit_test.go
  helper/user_helper.go
  middleware/is_admin_or_current_user_middleware.go
  models/user_user_invitee_integration_test.go
  types/api.go
Due: unit, integration

update MatchUserTypeToUid to work with user PATCH route
  helper/user_helper.go
  types/api.go
Due: none

user controller unit test fix
  .vscode/settings.json
  controllers/user_controller_unit_test.go
  helper/user_helper.go
Due: unit

user user invitee controller spec fixes
  controllers/user_invitee_controller_unit_test.go
Due: unit

update user controller integration spec
  .vscode/settings.json
  controllers/user_controller_integration_test.go
Due: integration

fix user invitee controller spec
  controllers/user_invitee_controller_integration_test.go
Due: integration

add some unit tests for auth routes; fixes for some integration tests
  .vscode/settings.json
  controllers/auth_controller.go
  controllers/auth_controller_integration_test.go
  controllers/auth_controller_unit_test.go
  test/mocks.go
Due: unit, integration

remaining auth controller unit tests
  controllers/auth_controller.go
  controllers/auth_controller_unit_test.go
Due: unit

remaining intended test coverage
  .vscode/settings.json
  controllers/user_controller.go
  controllers/user_controller_integration_test.go
  models/user_integration_test.go
Due: integration

makefile with run and build commands; stubbed setup command
  .gitignore
  Makefile
Due: none

readme update
  Makefile
  README.md
  scripts/genDotenv.sh
Due: none

another readme update
  README.md
Due: none

Use Makefile (#5)
  .gitignore
  Makefile
  README.md
  scripts/genDotenv.sh
Due: none

dont trust proxies until we have a need
  controllers/controllers.go
Due: none

dont trust proxies until we have a need (#6)
  controllers/controllers.go
Due: none

update files and commands to reflect documentation
  Makefile
  _docs/resources.md
  application.go
  controllers/controllers.go
  scripts/genDotenv.sh
Due: none

buildfile change
  .DS_Store
  .ebignore
  .gitignore
  Buildfile
  Makefile
  Procfile
  _docs/aws/deploying-go-apps-on-eb.md
  _docs/resources.md
  scripts/build.sh
  scripts/genDotenv.sh
Due: none

buildfile change
  Buildfile
Due: none

fix buildfile so that the target script is correct
  Buildfile
  go.mod
Due: none

ignore .env in .ebignore
  .ebignore
  _docs/resources.md
  controllers/controllers.go
Due: none

configuration changes to prepare for HTTPS in eb
  .gitignore
  _docs/aws/deploying-go-apps-on-eb.md
  _docs/resources.md
  application.go
  controllers/controllers.go
  go.mod
  go.sum
Due: none

clarification comment for later
  controllers/controllers.go
Due: none

heavy-handed S3 loading logic (want to troubleshoot using ACM later)
  Makefile
  _docs/resources.md
  application.go
  controllers/controllers.go
  scripts/build
Due: none

no longer use https on backend since e2e encryption not necessary for this app
  _docs/resources.md
  controllers/controllers.go
Due: none

cors fix for local testing (when origin is not set)
  Makefile
  controllers/controllers.go
Due: none

Prep for aws deployment (#7)
  .DS_Store
  .ebignore
  .gitignore
  Buildfile
  Makefile
  Procfile
  _docs/aws/deploying-go-apps-on-eb.md
  _docs/resources.md
  application.go
  controllers/controllers.go
  go.mod
  go.sum
  main.go
  scripts/build
  scripts/build.sh
  scripts/genDotenv.sh
Due: none

doc comment fixes for swaggo
  Makefile
  README.md
  _docs/resources.md
  controllers/auth_controller.go
  controllers/controllers.go
  controllers/entree_controller.go
  controllers/hors_doeuvres_controller.go
  controllers/user_controller.go
  controllers/user_invitee_controller.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  go.mod
  go.sum
  middleware/csrf_middleware.go
  types/api.go
Due: none

load .env in middleware (look into fixing this later)
  controllers/auth_controller.go
  controllers/controllers.go
  controllers/entree_controller.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  middleware/csrf_middleware.go
Due: none

remove csrf protection; not applicable to usage of this server (externally available)
  _docs/resources.md
  controllers/controllers.go
  go.mod
  middleware/csrf_middleware.go
Due: none

changes to auth flow and JWT claims
  helper/token_helper.go
  middleware/auth_middleware.go
Due: none

add route to get logged in user
  controllers/controllers.go
  controllers/user_controller.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  middleware/auth_middleware.go
Due: none

exclude sensitive data from user select queries
  models/user.go
Due: none

prevent surfacing secure fields; return necessary fields for consumption
  controllers/user_controller.go
  helper/user_helper.go
  models/user.go
  types/api.go
Due: none

require invite code to register
  controllers/auth_controller.go
  controllers/user_controller.go
  controllers/user_controller_integration_test.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  types/api.go
Due: integration

add 'unsafe' FindUser method for use in auth logic
  controllers/auth_controller.go
  models/user.go
  models/user_integration_test.go
Due: integration

update user_controller_unit_test.go
  .vscode/settings.json
  controllers/user_controller_unit_test.go
Due: unit

update auth_controller_unit_test.go
  controllers/auth_controller_unit_test.go
Due: unit

update user_unit_test.go
  models/user_unit_test.go
Due: unit

Path conditions:
  unit: any of: **/*_unit_test.go, but not: test-fixtures, *_test.go, *.sh, controllers/controllers.go, models/test_helpers.go, models/models.go, test
  integration: any of: **/*_integration_test.go, but not: test-fixtures, *_test.go, *.sh, controllers/controllers.go, models/test_helpers.go, models/models.go, test
