Repository ax-vasquez/go-wedding-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

update auth_controller_integration_test.go
  .vscode/settings.json
  controllers/auth_controller_integration_test.go
  controllers/controllers_integration_test.go
Due: integration

update entree_controller_integration_test.go
  controllers/entree_controller_integration_test.go
  middleware/auth_middleware.go
Due: integration

update hors_douevres_controller_integration_test.go
  controllers/hors_doeuvres_controller_integration_test.go
Due: integration

update user_controller_integration_test.go
  controllers/user_controller_integration_test.go
  types/api.go
Due: integration

update user_invitee_controller_integration_test.go
  controllers/user_invitee_controller_integration_test.go
Due: integration

test fixes
  controllers/controllers.go
  controllers/hors_doeuvres_controller_integration_test.go
  controllers/user_controller.go
  controllers/user_controller_integration_test.go
Due: integration

Test for bad invite code
  controllers/auth_controller_integration_test.go
Due: integration

test for GET /user route
  controllers/user_controller_integration_test.go
Due: integration

unit test for GET /user with server error
  .vscode/settings.json
  controllers/user_controller_unit_test.go
Due: unit

coverage for user controller
  .vscode/settings.json
  controllers/user_controller.go
  controllers/user_controller_integration_test.go
  controllers/user_controller_unit_test.go
Due: unit, integration

coverage for user model
  models/user.go
  models/user_integration_test.go
Due: integration

Secure login flow (#8)
  Makefile
  README.md
  _docs/resources.md
  controllers/auth_controller.go
  controllers/auth_controller_integration_test.go
  controllers/auth_controller_unit_test.go
  controllers/controllers.go
  controllers/controllers_integration_test.go
  controllers/entree_controller.go
  controllers/entree_controller_integration_test.go
  controllers/hors_doeuvres_controller.go
  controllers/hors_doeuvres_controller_integration_test.go
  controllers/user_controller.go
  controllers/user_controller_integration_test.go
  controllers/user_controller_unit_test.go
  controllers/user_invitee_controller.go
  controllers/user_invitee_controller_integration_test.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  go.mod
  go.sum
  helper/token_helper.go
  helper/user_helper.go
  middleware/auth_middleware.go
  models/user.go
  models/user_integration_test.go
  models/user_unit_test.go
  types/api.go
Due: unit, integration

swagger comment update
  controllers/user_controller.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
Due: none

cleanup
  controllers/auth_controller.go
Due: none

implement user_invitee.go model file and update tests
  _docs/images/DeploymentDiagram.png
  controllers/user_invitee_controller.go
  models/test_helpers.go
  models/user_invitee.go
  models/user_invitee_integration_test.go
  models/user_user_invitee.go
  test-fixtures/invitees.json
  test-fixtures/user_user_invitees.json
  types/api.go
Due: integration

update route logic
  controllers/auth_controller.go
  controllers/controllers.go
  controllers/user_invitee_controller.go
  controllers/user_invitee_controller_integration_test.go
  controllers/user_invitee_controller_unit_test.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  models/test_helpers.go
  test-fixtures/invitees.json
Due: unit, integration

new endpoints to facilitate simpler invitee logic
  controllers/auth_controller.go
  controllers/controllers.go
  controllers/user_invitee_controller.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  models/user_invitee.go
Due: none

Fix update invitee API
  controllers/user_invitee_controller.go
Due: none

doc comments for new routes
  controllers/user_invitee_controller.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
Due: none

test fixes for user_invitee_controller_unit_test.go
  .vscode/settings.json
  controllers/user_invitee_controller_unit_test.go
Due: unit

update auth_controller_unit_test.go
  controllers/auth_controller_unit_test.go
Due: unit

update user_user_invitee_unit_test.go
  models/user_user_invitee_unit_test.go
Due: unit

update user_invitee_controller_unit_test.go
  controllers/user_invitee_controller_unit_test.go
Due: unit

unit tests for new user_invitee model logic
  controllers/user_invitee_controller.go
  models/user_invitee.go
  models/user_invitee_unit_test.go
Due: unit

unit tests for new invitee logic (integration tests inc)
  _docs/observations/gin.md
  controllers/controllers.go
  controllers/user_invitee_controller.go
  controllers/user_invitee_controller_unit_test.go
  helper/user_helper.go
  middleware/is_admin_or_current_user_middleware.go
Due: unit

integration tests for update and delete invitee logic
  .vscode/settings.json
  controllers/user_invitee_controller.go
  controllers/user_invitee_controller_integration_test.go
Due: integration

integration tests for bad requests
  controllers/user_invitee_controller_integration_test.go
Due: integration

Simpler invitee logic (#9)
  _docs/images/DeploymentDiagram.png
  _docs/observations/gin.md
  controllers/auth_controller_unit_test.go
  controllers/controllers.go
  controllers/user_invitee_controller.go
  controllers/user_invitee_controller_integration_test.go
  controllers/user_invitee_controller_unit_test.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  helper/user_helper.go
  middleware/is_admin_or_current_user_middleware.go
  models/test_helpers.go
  models/user_invitee.go
  models/user_invitee_integration_test.go
  models/user_invitee_unit_test.go
  models/user_user_invitee.go
  models/user_user_invitee_unit_test.go
  test-fixtures/invitees.json
  test-fixtures/user_user_invitees.json
  types/api.go
Due: unit, integration

API to get reservation link (with tests)
  controllers/controllers.go
  controllers/venue_controller.go
  controllers/venue_controller_integration_test.go
  types/api.go
Due: integration

API to get reservation link (with tests) (#10)
  controllers/controllers.go
  controllers/venue_controller.go
  controllers/venue_controller_integration_test.go
  types/api.go
Due: integration

add swaggo dependency
  go.mod
  go.sum
Due: none

Path conditions:
  unit: any of: **/*_unit_test.go, but not: test-fixtures, *_test.go, *.sh, controllers/controllers.go, models/test_helpers.go, models/models.go, test
  integration: any of: **/*_integration_test.go, but not: test-fixtures, *_test.go, *.sh, controllers/controllers.go, models/test_helpers.go, models/models.go, test
