Repository ax-vasquez/go-wedding-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

codecov.yml:

coverage:
  status:
    project: #add everything under here, more options at https://docs.codecov.com/docs/commit-status
      default:
        target: 90%
        threshold: 1%
        base: auto
    patch:
      default:
        target: 90%
ignore:
  - "test-fixtures"
  - "*_test.go"
  - "*.sh"
  - "controllers/controllers.go" # Routes setup
  - "models/test_helpers.go"  # Test helpers specific to DB logic
  - "models/models.go"  # DB setup logic
  - "test"  # Test helpers

flags:
  unit:
    paths:
      - ./**/*_unit_test.go
  integration:
    paths:
      - ./**/*_integration_test.go

finish first draft of user api docs; doc corrections
  controllers/controllers.go
  controllers/entree_controller.go
  controllers/hors_doeuvres_controller.go
  controllers/user_controller.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
Due: none

doc fix for create and delete user routes
  controllers/user_controller.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
Due: none

wrap up API docs; some minor changes to logic for parity with other route behavior
  controllers/user_controller.go
  controllers/user_invitee_controller.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
Due: none

test coverage for code changes
  controllers/controllers.go
  controllers/hors_doeuvres_controller_integration_test.go
  controllers/user_invitee_controller_integration_test.go
Due: integration

unit test fix for changed logic
  .vscode/settings.json
  controllers/user_invitee_controller_unit_test.go
Due: unit

readme typo fix
  README.md
Due: none

API Documentation using gin-swagger (#3)
  .vscode/settings.json
  README.md
  controllers/controllers.go
  controllers/entree_controller.go
  controllers/hors_doeuvres_controller.go
  controllers/hors_doeuvres_controller_integration_test.go
  controllers/user_controller.go
  controllers/user_invitee_controller.go
  controllers/user_invitee_controller_integration_test.go
  controllers/user_invitee_controller_unit_test.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  go.mod
  go.sum
Due: unit, integration

fix codecov badge after unexpected token invalidation
  README.md
Due: none

auth middleware base code; helpers base code
  go.mod
  go.sum
  helper/token_helper.go
  helper/user_helper.go
  middleware/auth_middleware.go
Due: none

WIP - wiring up auth logic, but a lot more to go
  _docs/resources.md
  controllers/entree_controller.go
  controllers/hors_doeuvres_controller.go
  controllers/user_controller.go
  helper/token_helper.go
  helper/user_helper.go
  setup.sh
Due: none

add base implementation for Signup method, but need testing
  controllers/user_controller.go
  go.mod
  go.sum
  helper/token_helper.go
  helper/user_helper.go
  middleware/auth_middleware.go
  models/user.go
Due: none

leverage context in new query - planning to add similar logic to all other controllers
  controllers/user_controller.go
  models/user.go
Due: none

revert commented out code
  controllers/user_controller.go
Due: none

alter method structure
  _docs/resources.md
  controllers/user_controller.go
Due: none

simplify usage of deferred cancel
  controllers/user_controller.go
Due: none

update routes to use context with timeout
  _docs/resources.md
  controllers/entree_controller.go
  controllers/hors_doeuvres_controller.go
  controllers/user_controller.go
  controllers/user_invitee_controller.go
  models/entree.go
  models/entree_unit_test.go
  models/hors_doeuvres.go
  models/hors_doeuvres_unit_test.go
  models/test_helpers.go
  models/user.go
  models/user_unit_test.go
  models/user_user_invitee.go
  models/user_user_invitee_unit_test.go
Due: unit

unit test fixes
  models/entree_unit_test.go
  models/hors_doeuvres_unit_test.go
  models/user_unit_test.go
  models/user_user_invitee_unit_test.go
Due: unit

WIP - adding tests for new logic
  .vscode/settings.json
  controllers/user_controller.go
  controllers/user_controller_integration_test.go
  controllers/user_invitee_controller.go
  helper/user_helper.go
  models/entree_integration_test.go
  models/hors_doeuvres_integration_test.go
  models/models.go
  models/user.go
  models/user_integration_test.go
  models/user_unit_test.go
  models/user_user_invitee_integration_test.go
  models/user_user_invitee_unit_test.go
  test-fixtures/invitees.json
  test-fixtures/users.json
Due: unit, integration

integration and unit test fixes resulting from switch to better role-based logic
  .vscode/settings.json
  controllers/entree_controller.go
  controllers/entree_controller_integration_test.go
  controllers/entree_controller_unit_test.go
  controllers/hors_doeuvres_controller.go
  controllers/hors_doeuvres_controller_integration_test.go
  controllers/hors_doeuvres_controller_unit_test.go
  controllers/user_controller.go
  controllers/user_controller_integration_test.go
  controllers/user_controller_unit_test.go
  controllers/user_invitee_controller_unit_test.go
  helper/user_helper.go
Due: unit, integration

add resource and note about code oddities
  _docs/resources.md
Due: none

user model unit test fixes
  models/user_unit_test.go
Due: unit

WIP - adding new auth logic, more to go
  controllers/user_controller.go
  models/user.go
Due: none

implement /authorize and /token endpoints (oauth2)
  .vscode/settings.json
  _docs/resources.md
  controllers/controllers.go
  controllers/user_controller.go
  controllers/user_controller_integration_test.go
  controllers/user_invitee_controller.go
  controllers/user_invitee_controller_integration_test.go
  go.mod
  go.sum
  middleware/auth_middleware.go
  models/user.go
Due: integration

Remove test log statemet
  controllers/controllers.go
Due: none

Signup route setup - more to go
  _docs/resources.md
  controllers/controllers.go
  controllers/user_controller.go
  go.mod
  go.sum
  helper/token_helper.go
  middleware/auth_middleware.go
  models/user.go
Due: none

signup and login routes functioning at a basic level - no tests yet
  _docs/resources.md
  controllers/auth_controller.go
  controllers/controllers.go
  controllers/user_controller.go
  helper/token_helper.go
  helper/user_helper.go
  models/user.go
Due: none

implement authorization middleware logic - lots of testing to do
  controllers/auth_controller.go
  controllers/entree_controller.go
  controllers/hors_doeuvres_controller.go
  controllers/user_controller.go
  helper/token_helper.go
  helper/user_helper.go
  middleware/auth_middleware.go
Due: none

add resource protection middlewares
  controllers/controllers.go
  controllers/entree_controller.go
  controllers/user_controller.go
  middleware/is_admin_middleware.go
  middleware/is_current_user_middleware.go
Due: none

tests for /login and /signup - a lot more planned
  controllers/auth_controller_integration_test.go
  helper/token_helper.go
  middleware/auth_middleware.go
  test-fixtures/invitees.json
  test-fixtures/users.json
Due: integration

revert manual changes to gin context; should use login logic instead
  controllers/entree_controller_integration_test.go
Due: integration

integration tests for auth routes; update some unit tests; swagger docs update
  controllers/auth_controller.go
  controllers/auth_controller_integration_test.go
  controllers/entree_controller_integration_test.go
  controllers/user_controller_unit_test.go
  controllers/user_invitee_controller_unit_test.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  helper/token_helper.go
  models/test_helpers.go
  models/user_unit_test.go
  models/user_user_invitee_unit_test.go
  test-fixtures/admins.json
Due: unit, integration

unit test fixes for models package - more updates needed for controllers package
  .vscode/settings.json
  controllers/entree_controller_unit_test.go
  controllers/user_controller.go
  models/user.go
  models/user_unit_test.go
  models/user_user_invitee_unit_test.go
Due: unit

integration test fix for return type
  .vscode/settings.json
  models/user_integration_test.go
Due: integration

remaining auth_controller_integration.go tests
  controllers/auth_controller.go
  controllers/auth_controller_integration_test.go
Due: integration

fix unit controllers unit tests - tag auth integration file for integration tests
  .vscode/settings.json
  controllers/auth_controller_integration_test.go
  controllers/controllers.go
  controllers/entree_controller_unit_test.go
  controllers/hors_doeuvres_controller_unit_test.go
  controllers/user_controller_unit_test.go
  controllers/user_invitee_controller_unit_test.go
  helper/user_helper.go
  middleware/auth_middleware.go
  middleware/is_admin_or_current_user_middleware.go
Due: unit, integration

updated integration tests for entree controller
  .vscode/settings.json
  controllers/controllers.go
  controllers/controllers_integration_test.go
  controllers/entree_controller.go
  controllers/entree_controller_integration_test.go
  controllers/hors_doeuvres_controller.go
  helper/user_helper.go
  models/user.go
Due: integration

updated integration tests for horsdoeuvres controller
  controllers/controllers.go
  controllers/hors_doeuvres_controller.go
  controllers/hors_doeuvres_controller_integration_test.go
  models/test_helpers.go
Due: integration

update user invitee spec
  controllers/controllers.go
  controllers/user_controller_integration_test.go
  controllers/user_invitee_controller.go
  controllers/user_invitee_controller_integration_test.go
  helper/user_helper.go
  middleware/auth_middleware.go
  middleware/is_admin_middleware.go
  middleware/is_admin_or_current_user_middleware.go
  models/user_user_invitee.go
  models/user_user_invitee_integration_test.go
Due: integration

unit test fixes and revert DeleteInvitee change
  .vscode/settings.json
  controllers/user_invitee_controller.go
  models/user_user_invitee.go
  models/user_user_invitee_unit_test.go
Due: unit

revert commented out routes for now
  controllers/controllers.go
Due: none
